.ShippingAdress{
    width: 100%;
    height: auto;
    padding: 8px;
    font-family: serif;
}

.ShippingAdress h2{
    text-align: left;
    text-transform: uppercase;
    color: #515C6F;
}

.ShippingAdress .ret{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ShippingAdress .rete{
    color: #FF6969;
    width: 50px;
    height: 43px;

}


.ShippingAdress form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 60px;
    box-shadow: 0px 0px 10px #515C6F;
    padding: 10px;
    border-radius: 8px;
    
}


.ShippingAdress form .E{
    width: 100%;
}

.ShippingAdress form .E label{
    display: block;
    text-align: left;
    color: #515C6F;
    font-weight: bold;
    margin: 9px 0px;
    width: 100%;
}

.ShippingAdress form .E input{
    padding: 9px 2px;
    display: block;
    width: 95%;
    border: none;
    color: #515C6F;
    border-bottom: 2px solid #515C6F;
    background-color: transparent;
}

.ShippingAdress form .E textarea{
    padding: 5px;
    display: block;
    color: #515C6F;
    width: 100%;
    border: 2px solid #515C6F;
    border-radius: 4px;
    background-color: transparent;
    font-weight: bold;
}
.ShippingAdress form .E select{
    border: 1px solid #515C6F;
    padding: 5px;
    background-color: transparent;
    width: 100%;
    border-radius: 2px;
    color: #515C6F;
    border: none;
    border-bottom: 2px solid #515C6F;
}

.ShippingAdress button{
    color: white;
    background-color: #FF6969;
    margin-top: 10px;
    border: none;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
}