.InviteFriends{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}

.InviteFriends img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.InviteFriends form{
    width: 100%;
    height: auto;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.InviteFriends form textarea{
    width: 100%;
    height: 150px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    padding: 5px;
    outline: none;
    line-height: 20px;
    box-shadow: 0px 0px 7px gray;
    border: 1px solid gray;
}

.InviteFriends form input{
    display: block;
    padding: 8px 5px;
    border: 2px solid #FF6969;
    border-radius: 4px;
    width: 100%;
}
.InviteFriends form label{
    display: block;
    text-align: left;
    text-transform: capitalize;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: rgb(43, 43, 44);
}

.InviteFriends button{
    /* position: absolute;
    bottom: 10px;
    right: 10px; */
    width: 100%;
    padding: 10px 16px;
    background-color: #FF6969;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}

.whatsapp{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.whatsapp span{
font-weight: bold;
}

.whatsapp img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
